.btnHomeSend {
    background-color: #9faeff;
    font-family: cursive;
    color: white;
    height: 30px;
    border-radius: 12px;
}

.containerFormSearch {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.containerFormSearch form input {
    border-radius: 7px;
    height: 25px;
}
